.player {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.time-control {
  width: 50%;
  padding: 1rem 0;
  display: flex;

  input {
    width: 100%;
    background: rgb(13,159,155);
    background: radial-gradient(circle, rgba(13,159,155,1) 0%, rgba(102,51,138,1) 34%, rgba(0,212,255,1) 100%);
    border: solid 1px #82CFD0;
    border-radius: 8px;
    outline: none;
    transition: background 450ms ease-in;
    -webkit-appearance: none;
  }

  p {
    padding:0 1rem
  }
}

.play-control {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

  svg {
    cursor: pointer;
  }
}